
<article>
  <strong>Title</strong>: {{ (bookObservable | async)?.title }} <br/>
  <strong>Author</strong>: {{ (bookObservable | async)?.author }} <br/>
  <strong>Content</strong>: {{ (bookObservable | async)?.content }} <br/>
</article>
